<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Manage Users</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" >
</head>
<body>
<div class="container-fluid text-center">
  <div><h2>Manage Users</h2></div>
  <div class="m-3">
    <a class="h3" th:href="@{/users/new}">Add new User</a>
  </div>
      <div th:if="${message}" class="alert alert-success text-center">
        [[${message}]]
      </div>
  <div>
    <table class="table table-bordered">
      <thead class="btn-dark">
        <tr>
          <th>Id</th>
          <th>Email</th>
          <th>Name</th>
          <th>Surname</th>
          <th>Manage</th>
        </tr>
      </thead>
      <tbody>
        <th:block th:each="user : ${listUsers}">
          <tr>
            <td th:text="${user.id}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td>
              <a class="h4 m-3" th:href="@{'/users/edit/' + ${user.id}}">Edit</a>
              <a class="h4"      th:href="@{'/users/delete/' + ${user.id}}">Delete</a>
            </td>
          </tr>
        </th:block>
      </tbody>
    </table>

  </div>
</div>
</body>
</html>